body {
    background: aliceblue;
}

#header {
    margin-top: 15px;
    text-align: center;
}

#header img {
    max-width: 170px;
}

#menu {
    margin-top: 25px;
    text-align: center;
    margin-bottom: 25px;
}

.nav {
    justify-content: center;
}

.login-panel {
    margin-top: 50px;
    margin: 50px auto;
}

#footer {
    text-align: center;
    padding: 15px;
}

.navbar {
    margin-bottom: 15px;
}

.wizard__body {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.wizard__next, .wizard__back {
    background: #17a2b8 !important;
}

.wizard__next:hover, wizard__back:hover {
    background: #1792a8 !important;
}

.page-heading {
    text-align: center;
}

.wizard__body__actions {
    background-color: #17a2b8 !important;
}

.emotion {
    text-align: center;
}